:root {
    --bg: #141414;
    --fg: #ECEEFD;

    /*--red: #D81E5B;*/
    
    --muted: #888;
    --link: #30C5FF;
    --alert: #F96900;
}

html {
    background-color: var(--bg);
    color: var(--fg);

    font-family: 'Space Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-variant-ligatures: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--link);
}
a:hover {
    background-color: var(--link);
    color: var(--bg);
}
